#home-page{
  ion-footer{
    ion-toolbar{
      ion-button{
        --background: #fcd8d4;
        --box-shadow: none;
        --border-radius: 20px;
        --color: black;
        font-size: 18px;
        font-weight: 400;
        ion-icon{
          --size:30px
        }
      }
    }
  }
}