
.calendar-popover {
    --background: white;;
      --width: 170px;
  
    &::part(content){
        width: auto;
        position: static;
    }

    ion-button{
        --background: white;
        --color: black;
        --box-shadow: none;
    }

    .save{
        --background: #fcd8d4;
        --border-radius: 20px;
        width: 75px;
        margin: 0 auto;
    }
  }


  .alert-class {
      --background:white;
      .alert-wrapper{
          --color: red;
          border-radius: 20px;

          .alert-message{
            color: black;
            display: flex;
            justify-content: center;
          }
          .alert-button-group{
            display: flex;
            justify-content: center;

            .cancel{
              .alert-button-inner{
                color: gray
              }
            }

            .alert-button-inner{
                color: #fcd8d4;
            }
          }
          
      }
  }

  .menu-nav{
    &::part(container){
      width: 40vw;
    }
  }