#add-todo{
    border: 0.5px solid black;
    background-color: white;
    border-radius: 25px;
    position: fixed;
    z-index: 100;
    bottom: 0;
    width: 90%;
    ion-button {
        --background: #fcd8d4;
        --box-shadow: none;
        --border-radius: 20px;
        --color: black;
        font-size: 14px;
        font-weight: 400;
      }
}