#todolist-component {
  margin-top: 20px;
  ion-card {
    border-radius: 20px;
    background: #fdf6f0;
    padding: 2rem 1rem;
    ion-list {
      ion-list-header{
        margin-left: 0;
        padding-left: 0;
      }

      background: #fdf6f0;

      ion-item {
        --background: #fdf6f0;
        --inner-padding-end:0px;
        display: flex;
        width: 100%;
        justify-content: center;


        ion-label{
          margin-left: 0.5rem;
          white-space: normal;
        }
        ion-checkbox {
          background: #ffffff;
          border-width: 1px !important;
          border-style: solid !important;
          border-radius: 4px;
          margin-right: 0.5rem;
          border-color: blue !important;
          --size: 20px;
          --checkmark-color: blue;
          --background-checked: #ffffff;
          --border-color: #ffffff;
          --border-color-checked: #ffffff;
        }
        ion-button {
          --background: #fdf6f0;
          --box-shadow: none;
          --border-radius: 20px;
          --color: black;
          font-size: 14px;
          font-weight: 400;
        }
        ion-text {
          width: 140px;
        }

        ion-textarea {
          padding: 0;
          margin: 0;
          margin-left: 0.5rem;
        }

        ion-input{
          margin-left: 0.5rem;
        }
      }
    }
  }


}


.action-sheet-class  .action-sheet-group:first-of-type {
  
  border-radius: 20px 20px 0 0;
  
  #delete-button{
    background: #fdf6f0;
  }
}
